#div1{
position:relative;
max-width:960px;
background-color:purple;
margin-left:180px;
}
#div1-1{
text-align:center;
width:100%;
}
#div2{
position:fixed;
background-color:pink;
top:0;
left:0;
height:100%;
width:180px;
}
#div2-1{
background-color:blue;
text-align:center;
}
#div2-2{
background-color:red;
text-align:center;
}
#div2-3{
text-align:center;
background-color:green;
}
#div2 a:hover{
background-color:yellow;
cursor:default;
}
p:first-letter{
font-size:30px;
color:orange;
}

